<html>
<head>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<h3> search box</h3>
{% csrf_token %}
<input type="text" id = "search" name="search" />

<ul id="search_results">

</ul>

<script>
$(function(){

	$('#search').keyup(function(){


		$.ajax({
			type:'POST',
			url:'searching/',
			data:{
				'search_text' : $('#search').val(),
			     },
			success: searchSuccess,
			dataType:'html',
		});
		
	});

});
function searchSuccess(data, textStatus,jqXHR)
{
	$('#search_results').html(data):
}
</script>

</body>
</html>

